<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >

	<h1>Ingredients</h1>
	
	<ul>
		<li
			th:each ="ingredient : ${ingredientList}"
			th:object="${ingredient}"
			>
			<a th:href="@{ /ingredients/{id} (id=*{id})}">
				[[*{name}]] 
			</a>
			<br>
			
			 

			 <ul>
			 	<li			th:each ="pizza : ${ingredient.pizzaList}"
							th:object="${pizza}">
							[[*{name}]]
			 
			 	</li>
			 

			 
			 
			 </ul>
		</li>
	</ul>
	
	
	
	<div th:if ="${ingredientList.size == 0}">
		The list is empty
	</div>
	
	<a href="/ingredients/create"> Create new ingredient for the menu</a>
	<br>
	<a href="/ingredients/search">Search ingredient</a>
	<br>
	<a href="/"> Home</a>

</body>
</html>