<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body >

	<h1>Drinks</h1>
	
	<ul>
		<li
			th:each ="drink : ${drinkList}"
			th:object="${drink}"
			>
			<a th:href="@{ /drinks/{id} (id=*{id})}">
				[[*{name}]] 
			</a>
			<br>
			 [[*{description}]] - [[*{price}]] euro
		</li>
	</ul>
	
	
	
	<div th:if ="${drinkList.size == 0}">
		The list is empty
	</div>
	

	
	<a 	th:href="@{/drinks/admin/create}"
		sec:authorize="hasAuthority('ADMIN')"> 
		Create a new drink for the menu
	</a>
	<br>
	<a th:href="@{/drinks/user/search}">Search Drink</a>
	<br>
	<a href="/"> Home</a>
	
		<br>


</body>
</html>